**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/Dockerfile
**/docker-compose.yml
**/docker-compose.*.yml
**/node_modules
**/wwwroot/dist

infrastructure
