<template>
  <div id="app-root">
    <v-app>
      <v-navigation-drawer v-model="menuOpen" app clipped left>
        <v-list dense>
          <template v-for="item in menuItems">
            <v-list-item v-on:click="" :key="item.text">
              <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ item.text }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-navigation-drawer>

      <v-app-bar app dark clipped-left color="appbar">
        <v-app-bar-nav-icon @click="menuOpen = !menuOpen"></v-app-bar-nav-icon>
        <v-toolbar-title>{{ toolbarTitle }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <span>{{ appVersion }}</span>
      </v-app-bar>

      <v-content>
        <router-view></router-view>
      </v-content>
    </v-app>
  </div>
</template>

<script src="./app.ts"></script>
<style src="./app.less"></style>
